## Last commit: 2025-08-22 12:55:41 UTC by admin
version 25.2R1.8-EVO;
system {
    host-name junos1;
    root-authentication {
        encrypted-password "$6$uKQ4ZBht$tViAsg1nvrGKZPd5AbQpycBTeM09sPZIP/N4ns9fFTehbardmTfwSlmsfwZSnmqHFZRQZIdNJLaGRFvJgib7q/"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 500;
            class super-user;
            authentication {
                encrypted-password "$6$CsUSCL8k$hyBSHdm6yxFVjU8vnY325Aa1l3EpQwiMsy8.GdASEgriAMIUdoeZMziv6D.l0HvA9Su0UdLcklFgJGgz9JUwg."; ## SECRET-DATA
            }
        }
    }
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
    services {                          
        ssh;
    }
    name-server {
        8.8.8.8;
    }
}
interfaces {
    re0:mgmt-0 {
        unit 0 {
            family inet {
                address FXP0ADDR;
            }
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 172.20.20.1;
    }
}
