## Last commit: 2025-11-11 12:04:37 UTC by admin
version 20.3R1.8;
system {
    host-name vsrx2;
    root-authentication {
        plain-text-password-value "admin@123"; ## SECRET-DATA
        encrypted-password "$6$uKQ4ZBht$tViAsg1nvrGKZPd5AbQpycBTeM09sPZIP/N4ns9fFTehbardmTfwSlmsfwZSnmqHFZRQZIdNJLaGRFvJgib7q/"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 500;
            class super-user;
            authentication {
                plain-text-password-value "admin@123"; ## SECRET-DATA
                encrypted-password "$6$CsUSCL8k$hyBSHdm6yxFVjU8vnY325Aa1l3EpQwiMsy8.GdASEgriAMIUdoeZMziv6D.l0HvA9Su0UdLcklFgJGgz9JUwg."; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            root-login allow;
        }
        netconf {
            ssh;
            rfc-compliant;
            yang-compliant;
        }
        rest {
            http {
                port 8080;
            }
            routing-instance mgmt_junos;
        }
    }
    management-instance;
    name-server {
        8.8.8.8 routing-instance mgmt_junos;
    }
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.12.12.2/24;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.23.23.2/24;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 10.21.21.2/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 10.2.2.2/32;
            }
        }
    }
}
policy-options {
    policy-statement STATIC-TO-BGP {
        term STATIC-ROUTES {
            from {
                protocol static;
                route-filter 10.2.0.0/16 exact;
            }
            then accept;
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface lo0.0;
            interface ge-0/0/0.0;
            interface ge-0/0/1.0;
            interface ge-0/0/2.0;
        }
    }
    bgp {
        group IBGP-PEERS {
            type internal;
            local-address 10.2.2.2;
            export STATIC-TO-BGP;
            neighbor 10.1.1.1;
        }
        group EBGP-AS65003 {
            type external;
            export STATIC-TO-BGP;
            peer-as 65003;
            neighbor 10.23.23.3;
        }
    }
    lldp {
        interface all;
    }
}
routing-options {
    static {
        route 10.2.0.0/16 reject;
    }
    autonomous-system 65012;
}
